---
layout: default
latex: true
d3: false
nvd3: false
---

{% comment %}<p>latex-index: {{page.latex}}</p>{% endcomment %}

{% for post in paginator.posts %}

{% comment %}
{% assign latex = false %}
{% if post.latex == true %}
  {% assign latex = true %}
  <p>latex-index: {{latex}}</p>
{% endif %}
{% endcomment %}

<div id="{{ post.title | slugify }}">
  <h1><a href="{{post.url}}">{{post.title}}</a></h1>

  {{post.content}}

  {% if post.date %}
  <div class="post_footer">
    <div class="grid_2 alpha suffix_4">
      <p class="date"><a href="{{post.url}}">{{post.date | date: "%B %d, %Y"}}</a></p>
    </div>
    <div class="grid_2 omega">
      <!-- <p class="comment_count"><a href="http://localhost/2011/09/this-is-on-page-2/#comments">Comment</a></p> -->
    </div>
  </div>
  {% endif %}
</div>
{% endfor %}

<div id="bottom_nav">
        
  {% if paginator.total_pages > 1 %}
  <div class="grid_2 alpha suffix_4">
    <p>
      {% if paginator.previous_page %}
        <a href="/{{site.baseurl}}{% if paginator.previous_page != 1 %}page{{paginator.previous_page}}/{% endif %}">«</a>
      {% else %}&nbsp;
      {% endif %}
    </p>
  </div>
  <div class="grid_2 omega">
    <p class="next_link">{% if paginator.next_page %}<a href="/{{site.baseurl}}page{{paginator.next_page}}/">»</a>{% else %}&nbsp;{% endif %}</p>
  </div>
  {% endif %}
  <div class="bottom_dot">■</div>
</div>