<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{page.title}} | {% endif %}Noah Liebman</title>

    <link href="/{{site.baseurl}}styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="/{{site.baseurl}}styles/960.css" rel="stylesheet" type="text/css" />
    <link href="/{{site.baseurl}}styles/style.css" rel="stylesheet" type="text/css" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{site.baseurl}}/feed/" />
    <!--<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{{site.baseurl}}feed/atom/" />-->

    <script src="{{site.assets}}/modernizr-2.5.3.min.js"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script src="{{site.assets}}/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/{{site.baseurl}}js/plugins.js"></script>
    <script type="text/javascript" src="/{{site.baseurl}}js/plaintext.js"></script>

    {% if page.image %}
    <meta property="og:image" content="{{site.url}}{{page.image}}">
    {% endif %}

{% if include.d3 %}
    <script type="text/javascript" src="{{site.assets}}/d3/d3.min.js" charset="utf-8"></script>
{% endif %}

{% if include.nvd3 %}
    <link rel="stylesheet" type="text/css" href="{{site.assets}}/nvd3/nv.d3.min.css">
    <script type="text/javascript" src="{{site.assets}}/nvd3/nv.d3.min.js" charset="utf-8"></script>
{% endif %}
</head>
